# workflow for checking package versions and opening PRs to bump
name: Renovate
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
  workflow_call:

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca # v46.1.0
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ github.token }}
