name: Auto-update Charm Libraries
on:
  # Manual trigger
  workflow_dispatch:
  # Check regularly the upstream every four hours
  schedule:
    - cron: "0 0,4,8,12,16,20 * * *"

jobs:
  update-lib:
    name: Check libraries
    uses: canonical/observability/.github/workflows/charm-update-libs.yaml@78f655bd7446ee040b26cfe5d2e095b6dfdc3423 # v1
    secrets: inherit
